/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


p,a,div,button {
    font-family: 'Roboto', sans-serif;}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

@media (min-width: 768px) {
    section {
        content: "Drag here to upload or"
    }
}